.sidebar-text {
    @include light-grey-sans-serif;
    font-size: 1.25em;
    a {
        text-decoration: none;
        color: $med-grey;
    }
    a:hover {
        color: white;
    }
}

.spoiler-group, .highlight-message, .author-name, .year-published, .page-number-text  {
    font-family: $familjen-grotesk;
}

.spoiler-free, .site-footnotes, .highlight-content-text {
    font-family: $inter-sans-serif;
}

.book-title {
    @include book-title-serif;
}

.book-detail-desc {
    @include detail-med-grey-italic;
}

.site-footnotes-pos, h1, h2, img {
    text-align: center;
}

.highlight-content-text, .page-number-text, .site-footnotes a {
    font-size: 1em;
}

.book-detail-desc, .highlight-message {
    font-size: 1.15em;
}

.spoiler-warning-text {
    font-size: 1.5em;
}

.site-footnotes-pos {
    font-size: .75em;
}

.author-name, .year-published {
    font-size: 1.25em;
}

.author-name, .year-published, .site-footnotes, .site-footnotes a {
    color: $light-grey;
}

.spoiler-warning-text, .page-number-text , .dg {
    color: $med-grey;
}

.book-detail-body {
    color: white;
}
