{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Media</title>
    <!-- <link rel="icon" type="image/x-icon" href="{% static '/images/favicon_star.png' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
</head>

<body class="media-list-body">
    <div class="main-page-layout">
        <div><img src="{% static '/images/icons/butterfly-icon-np.png' %}" alt="butterfly icon" class="butterfly-icon"></div>
        <div>
            <div class="gallery">

                {% for book in books %}

                <div class="media-holder"><a href="{% url 'book_detail' book.slug %}">
                    <div class="book-cover">
                        <img src="{% static book.svg_path %}" class="cover minimalist" alt="Minimalist Cover">
                        <img src="{% static book.jpg_path %}" class="cover actual" alt="Actual Cover">

                    </div></a>
                </div>

                {% endfor %}

                <!-- <div class="media-holder">
                    <div class="book-cover">
                        <img src="{% static '/images/eat-a-peach.svg' %}" class="cover minimalist" alt="Minimalist Cover">
                        <img src="{% static '/images/eat-a-peach.jpg' %}" class="cover actual" alt="Actual Cover">
                    </div>
                </div>
                
                <div class="media-holder">
                    <div class="book-cover">
                        <img src="{% static '/images/capitalist-realism.svg' %}" class="cover minimalist" alt="Minimalist Cover">
                        <img src="{% static '/images/capitalist-realism.jpg' %}" class="cover actual" alt="Actual Cover">
                    </div>
                </div>
                <div class="media-holder">
                    <img src="https://placehold.co/200x300" alt="Book Cover 1">

                </div>
                <div class="media-holder">
                    <img src="https://placehold.co/200x300" alt="Book Cover 1">

                </div>
                <div class="media-holder">
                    <img src="https://placehold.co/200x300" alt="Book Cover 1">
                </div>
                <div class="media-holder">
                    <img src="https://placehold.co/200x300" alt="Book Cover 1">
                </div>

                 -->

            </div>
            <div class="bottom-fade"></div>
        </div>

        {% include 'media/sidebar.html' %}

    </div>
</body>

</html>